*{
    margin: 0px;
    padding: 0px:
}
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.menu nav>ul{
    display: flex;
}
ul li{
    list-style: none;
    /* display: inline; */
    margin-left: 20px;
    padding: 10px ;
    border: 2px solid blue;
    
}
ul li a{
    text-decoration: none;
    color: blue;
}
ul li:hover{
    /* background-color: blueviolet; */
    color: aqua;
    border: 2px solid blue;
    border-radius: 20px;
}
nav li .dropdown{
    margin-top: 10px;
    display: none;
    position: absolute;
    padding-right: 15px;
    padding-left: 0%;
    /* background-color: beige; */
    background: transparent;
    border: 1px solid whitesmoke;
    backdrop-filter: blur(25px);
    
}
nav li:hover .dropdown{
    display: block;
}